html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
*, *::before, *::after {
    box-sizing: inherit;
   }
body {
    margin: 0;
}
.background {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}
.wrapper {
   
    min-width: 80%;
    margin: auto;
}
.inner-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.image {
    width: 10%;
    height: 80vh;
    display: none;
    -webkit-transition: width 0.6s ease-out;
    transition: width 0.6s linear;
}
img {
    width: 100%;
    height: auto;
    
}
@keyframes example {
    0%   {width: 0%;}
    /*25%  {width: 25%;}*/
    50%  {width: 50%;}
    /*75%  {width: 75%;}*/
    100% {width: 100%;}
  }

.checked-item:checked + .image {
    display: block;
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: linear;
    width: 100%;
}

.list-controls {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.control-botton {
    display: block;
    width: 20px;
    height: 20px;
   
    background-color: gray;
    margin: 10px;
}
/*li {
    display: block;
    width: 40px;
    height: 40px;
}*/
li:hover .control-botton{
    cursor: pointer;
    background-color: olive;
    transform: scale(1.5);
}
li:active .control-botton{
    background-color: #000;
} 

#slide-1:checked ~.inner-wrapper-text .control-1 > .control-botton,
#slide-2:checked ~.inner-wrapper-text .control-2 > .control-botton,
#slide-3:checked ~.inner-wrapper-text .control-3 > .control-botton,
#slide-4:checked ~.inner-wrapper-text .control-4 > .control-botton,
#slide-5:checked ~.inner-wrapper-text .control-5 > .control-botton {
    background-color: #000;   
}
.inner-wrapper-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
}

/*.text {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: right;
    width: 500%;
    height: 100%;
}*/
.item-text {
   display: none;
   transition: ease-in-out 0.3;
}
@keyframes for-text {
    0%   {translate: -40px;}
    /*25%  {width: 25%;}*/
    50%  {translate: 0px;}
    /*75%  {width: 75%;}*/
    100% {translate: 40px;}
  }

#slide-1:checked ~.inner-wrapper-text .text>.text1,
#slide-2:checked ~.inner-wrapper-text .text>.text2,
#slide-3:checked ~.inner-wrapper-text .text>.text3,
#slide-4:checked ~.inner-wrapper-text .text>.text4,
#slide-5:checked ~.inner-wrapper-text .text>.text5 {
    display: block;
    transition: ease-in-out 0.3;
    animation-name: for-text;
    animation-duration: 1s;
    animation-timing-function: linear;
}
