html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
*, *::before, *::after {
    box-sizing: inherit;
   }
body {
    margin: 0;
}
.background {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}
.wrapper {
   
    min-width: 70%;
    margin: auto;
}
.inner-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.image {
    display: none;
    max-width: 750px;
    max-height: 750px;
    width: 100%;
}
img {
    width: 100%;
    height: auto;
}
    
    @keyframes for-img {
        0%   { transform: translate(-300%, 0);}
        /*25%  {width: 25%;}*/
        50%   { transform: translate(-150%, 0);}
        /*75%  {width: 75%;}*/
        100%  { transform: translate(0, 0);}
      }
.checked-item:checked + .image {
    display: block;
    animation-name: for-img;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.list-controls {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.control-botton {
    display: block;
    width: 20px;
    height: 20px;
   
    background-color: gray;
    margin: 10px;
}
/*li {
    display: block;
    width: 40px;
    height: 40px;
}*/
li:hover .control-botton{
    cursor: pointer;
    background-color: olive;
    transform: scale(1.5);
}
li:active .control-botton{
    background-color: #000;
} 

#slide-1:checked ~.inner-wrapper-text .control-1 > .control-botton,
#slide-2:checked ~.inner-wrapper-text .control-2 > .control-botton,
#slide-3:checked ~.inner-wrapper-text .control-3 > .control-botton,
#slide-4:checked ~.inner-wrapper-text .control-4 > .control-botton,
#slide-5:checked ~.inner-wrapper-text .control-5 > .control-botton {
    background-color: #000;   
}
.inner-wrapper-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
}
@keyframes for-text {
    0%   { transform: translate(200%, 0);}
    /*25%  {width: 25%;}*/
    50%   { transform: translate(100%, 0);}
    /*75%  {width: 75%;}*/
    100%  { transform: translate(0, 0);}
  }
.text {
   overflow: hidden;
}
.item-text {
   display: none;
   transition: ease-in-out 0.3;
}


#slide-1:checked ~.inner-wrapper-text .text>.text1,
#slide-2:checked ~.inner-wrapper-text .text>.text2,
#slide-3:checked ~.inner-wrapper-text .text>.text3,
#slide-4:checked ~.inner-wrapper-text .text>.text4,
#slide-5:checked ~.inner-wrapper-text .text>.text5 {
    display: block;
    transition: ease-in-out 0.3;
   
    animation-name: for-text;
    animation-duration: 1s;
    animation-timing-function:linear;
}

ul {
    padding: 0;
}